
body{
    background-color: #;
    font-family: system-ui;
}
.header img{
  width: 65%;
 margin-top: -35px;
 margin-left:50px;
}
nav ul li{
 list-style: none;
 margin-top: 10px;
 padding-left: 5px;
 padding-right: 5px;
 color: #000000;
 font-weight: 700;
}
nav ul{
  display: flex;
  margin-left: 20px;
  
}
nav{
  background-color: #0D47A1;
  height: 40px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
}
.welcome{
  background-color:#000000;
  color: #fff;
  
 
  
  height: 40vh;
  padding: 20px;
}
.welcome h3{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.span{
  font-size: 20px;
  font-weight: 400;
}
.welcome p{
  text-align: center;
  font-size: 14px;
}
.btnn{
  margin-left: 75px;
  width: 160px;
  height : 35px;
  background-color: #000000;
  border: 1px solid #fff;
  border-radius: 5%;
  color: #fff;
}
.btnn a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.showcase img{
  width: 90%;
  margin-top: -45px;
  margin-left: 16px;
  margin-bottom: 65px;
}

.footer_img{
  width: 160px;
 margin-top: 10px;
}

footer{
  color: #fff;
  background-color: #000000;
}
footer p{
  font-size: 14px;
  padding: 20px;
  padding-left: 25px;
  margin-top: -30px;
}
.foot_link{
  padding: 20px;
  margin-left: 15px;
  margin-top: -25px;
}
.foot_link h3{
  color: #f06060;
}
.foot_link ul li{
  list-style: none;
}
.foot_link ul li a{

  color: #fff;
  font-size:15px;
  
}
.foot_p a{
  text-decoration: none;
  color: #f06060;
}
.foot_p{
  margin-left: 10px;
}
.product{
  text-align: center;
}